---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋🏼</div>
    <div class="text-5xl font-bold">I'm Alex</div>
    <div class="text-3xl py-3">Data Scientist, AI Researcher, Explorer</div>

    <div class="py-8">
      <text class="text-lg">
        Welcome to my personal website! It's currently under active development 🏗️ :)
      </text>
    </div>
  </div>

  <div>
    <div class="text-2xl w-full font-bold mb-2 pt-10">About me</div>
    <div class="py-2">
      <text class="text-lg">
        Born and raised in <a href="https://www.youtube.com/watch?v=4EoUz39nPMM">St Petersburg</a>,
        one of the most beautiful cities in the world, I have moved around Erurope and North America quite a bit since then.
        I am currently residing in the United States, somewhere in between Atlanta,
        New York City, and the Colorado Rocky Mountains.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        I love telling stories using data and visualization tools,
        exploring the hidden patterns in structured and unstructured data,
        and opening-up the machine learning black boxes. I am currently working
        on several projects within the Explainable and Interpretable AI domain at Georgia Tech.
        I am also doing some awesome data science research with my colleagues at
        YouTube Music.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        During winter I try to spend as much time as I can in the mountains
        slowly advancing my snowboarding skills.
        On warmer days, I am learning how to row with the Georgia Tech Crew.
        All year around I am challenging myself doing CrossFit, with a focus on
        gymnastics and (more recently) Olympic weightlifting.
      </text>
    </div>

    <div class="py-2">
      <text class="text-lg">
        These are a few of my favorite things:
      </text>

        <ul class="list-disc pl-10 mb-4">
          <li class="mt-2">National Park: Glacier, Montana</li>
          <li>Movie: Interstellar by Christophen Nolan</li>
          <li>Book: The End of Eternity by Isaac Asimov</li>
          <li>App: Slopes</li>
          <li>Messenger Feature: Bubble videos in Telegram</li>
        </ul>

    </div>

  </div>

  <div>
    <div class="text-2xl w-full font-bold pt-10 mb-2">This website</div>
    <div class="py-2">
      <text class="text-lg">
        I built this website using Astro web framework using
        <a href="https://github.com/manuelernestog/astrofy">Astrofy template</a>
        It's hosted on Vercel. I maintain it locally using VSCode and upload
        changes to GitHub. This whole thing cost me $0 to build and host!
      </text>
    </div>
  </div>
</BaseLayout>
