---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/resume.pdf" />
  </head>
  <body>
    <p>
      If you are not redirected, <a href="/resume.pdf"
        >click here to view my resume.</a>
    </p>
  </body>
</html>
